In [3]:
# process GEO_Morbility data 
import pandas as pd 
import numpy as np
import os

from pandas.api.types import CategoricalDtype
from plotnine import *
from plotnine.data import mpg
%matplotlib inline

import matplotlib.pyplot as plt

In [5]:
path = os.getcwd()

In [6]:
# geo_morbility data 
gm_path = path + "/gm/gm_data.csv"
gm_data = pd.read_csv(gm_path)

/Users/bckou/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,162,163,164,165,166,167,168,169,170,171,172,173,182,183,192,193,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,272,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
feature_list = [name for name in gm_data.iloc[0,:] if "Moved" not in name ]
feature_list = [name for name in feature_list if "Margin" not in name ]
feature_list = [name for name in feature_list if "CITIZENSHIP" not in name ]
feature_list = [name for name in feature_list if "RACE" not in name ]
feature_list = [name for name in feature_list if "SEX" not in name ]
feature_list = [name for name in feature_list if "MARITAL" not in name ]
feature_list = [name for name in feature_list if "Estimate!!Total!!Population" not in name ]

In [8]:
final_feature_list = [name for name in feature_list if name not in['Estimate!!Total!!EDUCATIONAL ATTAINMENT!!Population 25 years and over',
                                                                   'Estimate!!Total!!INDIVIDUAL INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!Population 15 years and over',
                                                                   'Estimate!!Total!!POVERTY STATUS IN THE PAST 12 MONTHS!!Population 1 year and over for whom poverty status is determined',
                                                                   'Estimate!!Total!!HOUSING TENURE!!Population 1 year and over in housing units',
                                                                   'Estimate!!Total!!PERCENT ALLOCATED!!Residence 1 year ago'
                                                                  ]]

In [ ]:
# Education 
# Estimate!!Total!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!
#'Estimate!!Total!!INDIVIDUAL INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!Population 15 years and over!!
#'Estimate!!Total!!POVERTY STATUS IN THE PAST 12 MONTHS!!Population 1 year and over for whom poverty status is determined!!
# Estimate!!Total!!HOUSING TENURE!!Population 1 year and over in housing units!!
# Estimate!!Total!!PERCENT ALLOCATED!!Residence 1 year ago']

In [9]:
final_feature_list

['id',
 'Geographic Area Name',
 'Estimate!!Total!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Less than high school graduate',
 'Estimate!!Total!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!High school graduate (includes equivalency)',
 "Estimate!!Total!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Some college or associate's degree",
 "Estimate!!Total!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Bachelor's degree",
 'Estimate!!Total!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Graduate or professional degree',
 'Estimate!!Total!!INDIVIDUAL INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!Population 15 years and over!!$1 to $9,999 or loss',
 'Estimate!!Total!!INDIVIDUAL INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!Population 15 years and over!!$10,000 to $14,999',
 'Estimate!!Total!!INDIVIDUAL INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!Population 15 years and over!!$15,000 to $24,999',
 'Estimate!!Total!!INDIVIDUAL INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!Population 15 years and over!!$25,000 to $34,999',
 'Estimate!!Total!!INDIVIDUAL INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!Population 15 years and over!!$35,000 to $49,999',
 'Estimate!!Total!!INDIVIDUAL INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!Population 15 years and over!!$50,000 to $64,999',
 'Estimate!!Total!!INDIVIDUAL INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!Population 15 years and over!!$65,000 to $74,999',
 'Estimate!!Total!!INDIVIDUAL INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!Population 15 years and over!!$75,000 or more',
 'Estimate!!Total!!INDIVIDUAL INCOME IN THE PAST 12 MONTHS (IN 2018 INFLATION-ADJUSTED DOLLARS)!!Population 15 years and over!!Median income (dollars)',
 'Estimate!!Total!!POVERTY STATUS IN THE PAST 12 MONTHS!!Population 1 year and over for whom poverty status is determined!!Below 100 percent of the poverty level',
 'Estimate!!Total!!POVERTY STATUS IN THE PAST 12 MONTHS!!Population 1 year and over for whom poverty status is determined!!100 to 149 percent of the poverty level',
 'Estimate!!Total!!POVERTY STATUS IN THE PAST 12 MONTHS!!Population 1 year and over for whom poverty status is determined!!At or above 150 percent of the poverty level',
 'Estimate!!Total!!HOUSING TENURE!!Population 1 year and over in housing units!!Householder lived in owner-occupied housing units',
 'Estimate!!Total!!HOUSING TENURE!!Population 1 year and over in housing units!!Householder lived in renter-occupied housing units']

In [10]:
gm_data = pd.read_csv(gm_path, skiprows =[0])

/Users/bckou/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (24,25,26,27,28,29,30,31,33,43,53,63,64,65,66,67,68,69,70,71,73,83,93,104,105,106,107,108,109,164,165,166,167,168,169,170,171,204,205,206,207,208,209,210,211,214,215,216,217,218,219,220,221,244,245,246,247,248,249,250,251,254,255,256,257,258,259,260,261,323,364,365,366,367,368,369,370,371,374,375,376,377,378,379,380,381,444,445,446,447,448,449,450,451,454,455,456,457,458,459,460,461,472,473,474,475,504,505,506,507,508,509,510,511) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
processed_gm_data = gm_data[final_feature_list]

In [12]:
new_row_name = [name.split("!!")[-1] for name in final_feature_list]
processed_gm_data.columns = new_row_name
processed_gm_data.to_csv('processed_gm_data.csv',index = False)

In [13]:
# check the CSV file 
test = pd.read_csv("processed_gm_data.csv")

In [15]:
test.shape

(3221, 21)

In [18]:
test

,id,Geographic Area Name,Less than high school graduate,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,"$1 to $9,999 or loss","$10,000 to $14,999","$15,000 to $24,999",...,"$35,000 to $49,999","$50,000 to $64,999","$65,000 to $74,999","$75,000 or more",Median income (dollars),Below 100 percent of the poverty level,100 to 149 percent of the poverty level,At or above 150 percent of the poverty level,Householder lived in owner-occupied housing units,Householder lived in renter-occupied housing units
0,0500000US01001,"Autauga County, Alabama",4204.0,12119.0,10552.0,5903.0,4388.0,6339.0,4126.0,6267.0,...,5708.0,3744.0,1436.0,5779.0,29667,8276.0,4579.0,41219.0,40538.0,13425.0
1,0500000US01003,"Baldwin County, Alabama",14310.0,40579.0,46025.0,30431.0,15644.0,24827.0,15759.0,25871.0,...,21975.0,14480.0,5535.0,20333.0,28632,21239.0,16032.0,165641.0,152375.0,50637.0
2,0500000US01005,"Barbour County, Alabama",4901.0,6486.0,4566.0,1417.0,803.0,4808.0,2734.0,3283.0,...,1809.0,1089.0,343.0,1155.0,18138,6332.0,2690.0,13521.0,13662.0,8907.0
3,0500000US01007,"Bibb County, Alabama",2650.0,7471.0,3846.0,1197.0,616.0,2983.0,1886.0,3235.0,...,1605.0,1047.0,704.0,1046.0,22298,2782.0,2347.0,14924.0,15370.0,4651.0
4,0500000US01009,"Blount County, Alabama",7861.0,13489.0,13267.0,3217.0,1793.0,6275.0,4113.0,6795.0,...,5206.0,3861.0,1555.0,3082.0,26509,8084.0,6249.0,42291.0,45751.0,10850.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,0500000US72147,"Vieques Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3217,0500000US72149,"Villalba Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3218,0500000US72151,"Yabucoa Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3219,0500000US72153,"Yauco Municipio, Puerto Rico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3220,0100000US,United States,26948057.0,59265308.0,63365655.0,42470927.0,26396124.0,40202045.0,22192017.0,35285784.0,...,31364750.0,22708324.0,9407218.0,36223051.0,30119.0,43441538.0,27589881.0,240238085.0,204389007.0,106678564.0